body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e9edee;
  width: 100vw;
  height: 100vh;
}

p a {
  text-decoration: none;
  color: #0d5b69;
}

.header-section {
  background-color: #222f3f;
  padding: 10px 20px;
}

.logo-img {
  max-width: 100px;
  margin-bottom: 10px;
}

.nav-bar {
  margin-top: 0;
  width: 100%;
  height: 35%;
  padding-block: 2px;
  background-color: #354757;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  margin-inline: 10px;
}

.banner-section a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.content-section {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.main-banner {
  text-align: center;
  color: white;
  padding: 20px;
  background-image: url(../images/bg-image.png);
  margin-bottom: 30px;
}

.banner-section {
  background-color: #f66504;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: calc(100% - 40px);
  border: 2px solid #f66504;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  width: 85%;
}

.main-banner h1 {
  font-size: 36px;
  margin: 0;
}

.main-banner p {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.category-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}

.category-box {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.category-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 250px;
}

.gaming-box,
.audio-box {
  text-align: center;
  margin-bottom: 30px;
}

.gaming-box img,
.audio-box img {
  max-width: 100%;
}

.gaming-box p,
.audio-box p {
  font-size: 18px;
  margin-top: 10px;
}

.footer-section a {
  color: white;
  font-weight: bold;
}

.footer-section {
  text-align: center;
}

.top-link {
  display: block;
  background-color: #354757;
  color: white;
  padding: 10px 0;
  text-decoration: none;
  font-weight: bold;
}

.footer-logo {
  background-color: #222f3f;
}

.footer-img {
  max-width: 100px;
  margin: 0 auto;
  display: block;
  padding: 1rem;
}
